<% if(rs.length > 0) { %>
Store: <%= rs[0].store_name %>
<ul>
    <% for(var i=0; i < rs.length; i++) {%>
    <li>City: <%= rs[i].loc_name %></li>
    <li>State: <%= rs[i].state %></li>
    <li>ZipCode: <%= rs[i].zipcode %></li>

    <% } %>
</ul>
<% } else { %>
No store matched store id <%= store_ID %>.
<% } %>